@import "../bootstrap/bootstrap.min.css" all;
body {
    background-image: url(https://i.pinimg.com/originals/4a/ae/b0/4aaeb0008ad267b0a30ae4fe64ca6800.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-color: #18191C;
    color: white;
}
.wrapper {
    padding: 20px;
    width: 500px;
}
.credentials {
    background-color: rgb(42, 52, 68, 0.8);
    border: 1px solid black;
    border-radius: 10px;
}
.credentials label {
    font-size: 15px;
}
.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
input[type="text"]:focus, input[type="password"]:focus, input[type="password"], input[type="text"], textarea {
    background-color: #222;
    color: white;
    border: 1px solid #1d232d;
}
.error {
    color: #ff1c1c;
}
.sign-in-button {
    background-color: #7298DA;
    color: white;
    border-radius: 3px;
}
.reset-button {
    background-color: #222;
    color: white;
    border-radius: 3px;
}
.login {
    font-size: 13px;
}